<%= form_for(@user) do |f| %>
  <div class="row top-padded">
    <%= f.label :favorite, "Favorite Vacation Spot" %>
    <%= f.text_field :favorite, placeholder: 'Transylvania' %>
  </div>
  <div class="row top-padded">
    <%= f.label :preference, "My internal temperature runs:"%>
    <%= f.collection_radio_buttons(:preference, @preference_collection, :first, :last) %>
  <div class="actions top-padded">
    <%= f.submit 'Update your profile' %>
  </div>
<% end %>
