<div class="add-location form">
  <%= form_for(@location) do |f| %>
    <div class="field">
      <%= f.label :city, "City" %>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state, "State" %>
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :zip, "Zip" %>
      <%= f.text_field :zip %>
    </div>
    <div class="field">
      <%= f.label :country, "Country" %>
      <%= f.text_field :country %>
    </div>
    </div>
    <div class="actions top-padded">
      <%= f.submit "Add Location", class: "search-button" %>
    </div>
  <% end %>
</div>
