<div class="location-container">
  <div class="callout primary">
    <div class="greeting">
      Hello, <%= current_user.email %>!
    </div>
    Daily High: <%= (@darksky.high).round %>
    Daily Low: <%= (@darksky.low).round %>
    Chance of Precipitation: <%= (@darksky.precipitation.to_f * 100).round %>%
    Summary: <%= @darksky.summary %>
  </div>
</div>

<div class="wolf-suit">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
