<h1> Hello, <%= current_user.email %>! Let's get you outfitted! </h1>

<div class="weather-info callout primary">
  <div class="greeting">
    <h3>The weather for your current location is: <br></h2>
    <span>High: <%= @darksky.high %> Low: <%= @darksky.low %></span><br>
    <span>Chance of precipitation: <%= (@darksky.precipitation * 100).round %>%
          Chance of humidity: <%= (@darksky.humidity * 100).round %>%</span><br>
    <span><%= @darksky.summary %></span>
  </div>
</div>
<br>
<div class="clothing-suggestions success callout">
  <h2>The wolf says:</h2>
  <h5>It's HOT out there. You should wear a shirt, shorts, and little else.</h5>
</div>

<h2> Trying to get dressed in a different location?</h2>
<div class="user-locations success callout">
  <h3>Choose from Your Locations: </h3>
  <ul>
    <% @locations.each do |location| %>
      <li><%= location.city %>, <%= location.state %>, <%= location.zip %>, <%= location.country %>  <%= link_to 'Get the Weather', locations_path(location)  %></li>
    <% end %>
  </ul>
</div>


<h2><%= link_to 'Add a New Location', new_location_path, method: :get %></h2>
