<h2>Look up the weather in a location</h2>
<%= link_to 'Add a location', new_location_path, method: :get %>

<div class="location-container">
  <div class="callout primary">
    <div class="greeting">
      Hello, <%= current_user.email %>! <br>
      The weather for your current location is: <br>
      <span>High: <%= @darksky.high %> Low: <%= @darksky.low %></span>
      <span>Chance of precipitation: <%= (@darksky.precipitation * 100).round %>
            Chance of humidity: <%= (@darksky.humidity * 100).round %></span>
      <span><%= @darksky.summary %></span>
    </div>


  </div>
</div>
