<h1> Hello, <%= current_user.email %>! Let's get you outfitted! </h1>

<div class="weather-info callout primary">
  <div class="greeting">
    <h3>The weather for your current location is: <br></h2>
    <span>High: <%= @darksky.maxtemp %> Low: <%= @darksky.mintemp %></span><br>
    <span>Chance of precipitation: <%= (@darksky.precipitation * 100).round %>%
          Chance of humidity: <%= (@darksky.humidity * 100).round %>%</span><br>
    <span><%= @darksky.summary %></span>
  </div>
</div>
<br>
<div class="weather-info success callout">
  <h2>The wolf says:</h2>
  <h5><%=@wolf_advice%></h5>
</div>

<h2> Trying to get dressed in a different location?</h2>
<div class="user-locations success callout">
  <h3>Choose from Your Locations: </h3>
  <ul>
    <% @locations.each do |location| %>
      <li><%= link_to location.city , location_path(location), method: :get %>, <%= location.state %>, <%= location.zip %>, <%= location.country %> </li>
    <% end %>
  </ul>
</div>


<h2><%= link_to 'Add a New Location', new_location_path, method: :get %></h2>
